
<div>
    <h2>{{vm.travelPackages.titleTravelPackage}}</h2>
    <h4>{{vm.travelPackages.locationValues}}</h4>
    <h6>{{vm.travelPackages.descriptionTravelPackage}}</h6>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <!-- Carrossel de imagens -->
	<div ng-include="'app/entities/travel-packages/img-carrosel.html'"></div>
	
	<div class="table-responsive">
		<table class="jh-table table table-striped">
	      <thead>
	          <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
	              <th colspan="3"><span>ESCOLHA SUA MELHOR OPÇÃO</span> </th>
	              <th></th>
	              <th></th>
	              <th class="text-right">
					<label for="fieldRegion">SAÍDAS</label>
		            <select ng-model="filter.region" name="fieldRegion">
		            	<option value="">--Escolha--</option>
				        <option ng-repeat="region in (regionsFrom | unique)" ng-value="region">{{region}}</option>
				    </select>				  
	              </th>
	              <th class="text-right">
	              	<label for="fieldDaily">Nº DE DIÁRIAS</label>
		            <select ng-model="filter.daily" name="fieldDaily">
		            	<option value="">--Escolha--</option>
				        <option ng-repeat="option in (optionsDaily | unique)" ng-value="option">{{option}}</option>
				    </select>
	              </th>
	          </tr>
	      </thead>
	      <tbody>
			<tr ng-repeat="travelOptions in (vm.travelPackages.options | filter: {froms: {nameRegion: filter.region}, daily: filter.daily})">
              <td colspan="3">
              	<span><h4>{{travelOptions.titleTravelOption}}</h4></span>
              	<span class="gray">{{travelOptions.descriptionTravelOption}}</span>
              </td>
              <td></td>
              <td>
              	<span class="regions">saidas:
	              	<ul>
	              		<li class="gray" ng-repeat="regions in travelOptions.froms track by regions.id">{{regions.nameRegion}}</li>
	              	</ul>
              	 </span>
              </td>
              <td>
              	<div class="offer">
             		<span class="spanBox">
	              		<span class="daily">{{travelOptions.daily}}</span> Diarias
	              	</span>
	              	<br>
	              	<span class="spanBox">
	              		<span class="person"> 1 </span> Pessoa
	              	</span>
              	</div>
              </td>
              <td class="text-center">
              	<div class="offer">
              		Por apenas: <br/>
              		<span class="price">{{travelOptions.price | currency}}</span> <br/>
              		+ taxas em 10x <br/>
                    <span>
                    	<button class="buy-btn" type="submit"
                            ui-sref="travel-options-detail({id:travelOptions.id})">
                    	</button>
                    </span>
              	</div>
              </td>
	       </tr>
	      </tbody>
        </table>
    </div>

	<button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>